{% extends "base.html" %}

{% block content %}
<div class="login-form">
  <div></div>
  <div>
    <hgroup style="text-align: center;">
      <h4>Welcome</h4>
      <p>Log in to {{ config.APP_NAME }}</p>
    </hgroup>
    <form method="POST" action="{{ url_for('auth.login', next=request.args.get('next')) }}">
      <fieldset>
        <input type="email" name="email" placeholder="Email address*" autocomplete="email" />
      </fieldset>
      <fieldset>
        <input type="password" name="password" placeholder="Password*" />
      </fieldset>
      <fieldset>
        <input type="checkbox" id="remember" name="remember" />
        <label htmlFor="remember">Remember me</label>
      </fieldset>
      <p><a href="{{ url_for('auth.forgot') }}">Forgot password?</a></p>
      <input type="submit" value="Continue" />
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up</a></p>
  </div>
  <div></div>
</div>
{% endblock %}
