{% extends "base.html" %}

{% block content %}
<div class="login-form">
  <div></div>
  <div>
    <hgroup style="text-align: center;">
      <h4>{{ _("Per favore verifica il tuo indirizzo Email") }}</h4>
      <p>{{ _("Abbiamo inviato un codice di 6 cifre a") }} {{ current_user.email }}</p>
    </hgroup>
    <form method="POST" action="{{ url_for('auth.verify_email', next=request.args.get('next')) }}">
      <fieldset>
        <input type="text" name="code" placeholder="123456" required maxlength="6">
      </fieldset>
      <input type="submit" value="{{ _('Verifica') }}" />
    </form>
    <p>{{ _("Non hai ricevuto il codice?") }} <a href="{{ url_for('auth.resend_code') }}">{{ _("Rimanda il codice") }}</a></p>
  </div>
  <div></div>
</div>
{% endblock %}